
body{
    margin: 0;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("./Bg01.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #464646;
    background-attachment: fixed;
}
.time {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

table{
    background-color: rgba(1,1,1,0.4);
    height: 70px;
    width: 50vw;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
}
td{
    padding:20px;
}
.Cur_time{
    border-left: 4px gray;
    border-left-style: ridge;
}
