section {
  background-color: rgba(185, 178, 178, 0.678);
  height: 100%;
}
header {
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid gray;
}
#headerDIV {
  max-width: 1000px;
}

.contentHeader {
  padding-top: 2px;
}

#searchBox {
  height: 24px;
  width: 95%;
  max-width: 235px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: rgba(199, 194, 187, 0.452);
}

.headerList {
  display: block;
  float: left;
  text-align: center;
  width: 25px;
  padding: 1px 0px;
  height: 25px;
  margin: 0 5px;
  border-radius: 100px;
}

@media screen and (max-width: 639px) {
  div.searchContent {
    display: none;
  }
}


.profile{
  display: block;
  float: left;
  margin-right: 5px;
  padding: 4px 10px;
}